<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864085896533-aecjhkpn556mfcb8ed2f3a3q6j3rrogq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864085896533-aecjhkpn556mfcb8ed2f3a3q6j3rrogq</string>
	<key>API_KEY</key>
	<string>AIzaSyDpKMVvMl_8CfeBjjZK-3d9JGxu1BzEzKI</string>
	<key>GCM_SENDER_ID</key>
	<string>864085896533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutorgo</string>
	<key>PROJECT_ID</key>
	<string>tutorgo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorgo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864085896533:ios:1ad4a7da30d5fce06553dc</string>
</dict>
</plist>